*
{
    margin: 0;
    padding: 0;
}

body{
    font-family: poppins;
}

a:hover{
    text-decoration: none !important;
}


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 0;
    z-index: 1000;
}

.navbar{
    background-image: linear-gradient(to right, #19191a, #25252b)!important;
    padding: 0!important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important
}

/* Banner Section */
#banner{
    /* background-image: url("./images/p2.jpg"); */
    background-image: linear-gradient(to right, #19191a, #25252b);
    color: #fff;
    /* background-repeat: no-repeat; */
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 45px;
    margin: 20px;
}

#banner a{
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/* Services */
#services{
    padding: 80px 0;
    background: #f8f9fa;
}

.service-img{
    width: 200px;
    margin-top: 10px;
    border-radius: 50px;
}

.service{
    padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before{
    content: '';
    background: #25252b;
    height: 5px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content: '';
    background: #3c3c49;
    height: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.who::after{
    content: '';
    background: #25252b;
    height: 3px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/* Button */
#donations .btn-success{
    box-shadow: none;
    background: #f8f9fa;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #19191a, #25252b);
}

/*Volunteers Button */
#volunteers .btn-success{
    box-shadow: none;
    padding: 8px 25px;
    background: #f8f9fa;

    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #19191a, #25252b);
}

.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#who-is-this-class-for ul li{
    margin: 10px 0;
}

#who-is-this-class-for ul{
    margin-left: 20px;
}

#featuring ul li{
    margin: 10px 0;
}

#featuring ul{
    margin-left: 20px;
}

/* Mission vision */
#vision_mission{
    padding: 50px;
    background: #f8f9fa;
    margin-bottom: 30px;
}


/* Donations */
#donations{
    padding: 50px;
    background: #f8f9fa;
    margin-bottom: 30px;
}


/* Mission & Vision */


.user-details{
    display: inline-block;
    font-size: 12px;
}

/* Social media */
#social-media{
    background: #f8f9fa;
    padding: 100px 0;
}

.feature{
    margin-bottom: 10px;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}

/* Footer Section */
#footer{
    background-image: linear-gradient(to right, #19191a, #25252b);
    color: #fff;
}

.footer-img{
    width: 100%;
}

.footer-box{
    width: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #19191a, #25252b);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #19191a, #19191b);
}

hr{
    background-color: #fff;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}


/* Whatsapp */
#whatsapp{
    padding: 10px 0;
}

.whatsapp1{
    border-color: green;
    z-index: 1;
}

.whatsapp-img{
    width: 30px;
    height: 30px;
}

.whatsapp h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

#whatsapp .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #19191a, #25252b);
}
